.toggleBtn {
    border-radius: 99px;
    width: 50px;
    height: 20px;
    transition: background-color 0.1s ease, border-color 0.2s ease;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.748);
    position: relative;
}

.toggleBtn .thumb {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 99px;
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.toggleBtn.open {
    background-color: #19d7a8;
}

.toggleBtn.open:hover {
    background-color: #15a782;
}

.toggleBtn.close:hover {
    background-color: #6f6f6f;
}

.toggleBtn.open .thumb {
    left: calc(50px - 20px);
}