.background {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUp {
    width: 45%;
    height: 250px;
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter {
    margin-top: 5px;
}

.logoutLetter {
    font-size: large;
    font-weight: bold;
}

.attention {
    margin-top: 40px;
    font-size: x-small;
}

.logoutBtns {
    display: flex;
    margin-top: 70px;
    width: 300px;
}

.closeModal {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    border: none;
    border-radius: 2em;
    padding: 15px;
    background-color: lightgray;
    cursor: pointer;
}

.logO {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    border: none;
    border-radius: 2em;
    padding: 15px;
    background-color: tomato;
    cursor: pointer;
}